<div class="container-fluid text-center my-5 bg-dark text-white">
  <h1 class="text-center">Eat-a-Burger</h1>
</div>


<div class="container">
  <div class="row">
    <div class="col-6 border rounded bg-light">
      <h2>Your Current Burgers</h2>

      <ul class="list-group mb-3">
        {{#each burgers}}
          {{#unless devoured}}
            <li class="list-group-item bg-light text-black" {{#if devoured}} class="list-group-item bg-light text white"{{/if}}>
              {{burger_name}}
              {{#unless devoured}}
                <button class="devour-button" data-id="{{id}}">
                    Devour it!
                </button>
              {{/unless}}
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>

    <div class="col-6 border rounded bg-light">
      <h2>Your Devoured Burgers</h2>

      <ul class="list-group mb-3">
        {{#each burgers}}
          {{#if devoured}}
            <li class="list-group-item bg-secondary text-black">
              {{burger_name}}
              {{#unless devoured}}
                <button class="devour-button" data-name="{{id}}">
                  Devour it!
                </button>
              {{/unless}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>


  <div class="row mx-auto mt-5 p-auto bg-light rounded">
    <h2 class="m-2">Add a Burger</h2>
    <form class="create-form mx-auto">

      <div class="form-group m-2">
        <label for="burger-input">New Burger Name:</label>
        <input type="text" id="burger-input" name="burger-name">
      </div>

      <button id="burger-submit" type="submit">Add New Burger</button>
    </form>
  </div>
</div>